<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name = "tests" verbose = "1">

    <listeners>
        <listener class-name="Tests.Listener" />
    </listeners>

    <test name = "Test_1">
        <groups>
            <run>
                <include name="Login" />
            </run>
        </groups>
        <classes>
            <class name="Tests.LoginTest" />
        </classes>
    </test>

    <test name = "Test_2">
        <groups>
            <define name="all">
                <include name="Add activity" />
                <include name="Calendar" />
            </define>
            <run>
                <include name="all" />
            </run>
        </groups>
        <classes>
            <class name="Tests.DashboardTest" />
        </classes>
    </test>
</suite>